@{
    ViewBag.Title = "FAAS Home Page";
}

<div class="jumbotron">
    <h1>Welcome to FAAS</h1>
    <p class="lead">This tool will change your legacy world.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register to get going.
            Already registered? Click on the Profile Menu option.
        </p>
    </div>
</div>