@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page will only be visible if you are logged in.</p>

<p>
    This will consist of:
    <ul>
        <li>Create customer Name (automatically links to your profile - this may change to a request)</li>
        <li>Edit customer name</li>
        <li>View customer name</li>
    </ul>
</p>
<p>
    You do not have a Customer Name.
    @Html.ActionLink("Create a new customer now", "CreateCustomer", "Test")<br />
    @Html.ActionLink("Click to refresh this page", "Profile", "Home")
</p>
<p>
    <ul>
        <li>Create new Projects</li>
        <li>Select Existing Projects (from dropdown)</li>
    </ul>
</p>
<p>
    Once project is selected, user can:
    <ul>
        <li>Select snapshot (dropdown)</li>
        <li>Create new snapshot (probably by selecting phase to run)</li>
    </ul>

</p>
