@{
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page will only be visible if you are logged in.</p>

<p>
    This will consist of:
    <ul>
        <li>Create new Projects</li>
        <li>Select Existing Projects (from dropdown)</li>
        </ul>
    </p>
<p>
    Once project is selected, user can:
    <ul>
        <li>Select snapshot (dropdown)</li>
        <li>Create new snapshot (probably by selecting phase to run)</li>
    </ul>
    
</p>
