<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Analysis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:\Users\J\Documents\GitHub\HSA\Log.txt" layout="${longdate} ${callsite} ${level} ${message}" />
      <target name="console" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="*" minLevel="Info" writeTo="console" />
      <logger name="*" minLevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <!--<add key="RuleSeparator" value="###" />-->
    <!--
    <add key="Tables" value="C:\Users\J\Documents\GitHub\HSA\input\extract_tables.txt" />
    <add key="Rules" value="C:\Users\J\Documents\GitHub\HSA\input\extract_rules_common.txt" />-->
    <add key="SQL.Triggers" value="C:\Users\J\Documents\GitHub\HSA\TMS Input\Triggers.xls" />
    <add key="SQL.Packages" value="C:\Users\J\Documents\GitHub\HSA\TMS Input\TMLP_subsystem.xls" />
    <!--<add key="Transactions" value="C:\Users\J\Documents\GitHub\HSA\input\extract_fwta.txt" />-->
    <add key="SQL.Tables" value="C:\Users\J\Documents\GitHub\HSA\TMS Input\Tables.txt" />
    <add key="SQL.TableForeignConstraints" value="C:\Users\J\Documents\GitHub\HSA\TMS Input\TMS_Relations_Raw.txt" />
    <add key="SQL.EntityGraphFilePath" value="..\..\..\..\Graphs\Entity Links.graph" />
    <add key="InterfaceGraphFilePath" value="..\..\..\..\Graphs\Interface Links.graph" />
    <add key="SQL.BucketMapFilePath" value="C:\Users\J\Documents\GitHub\HSA\TMS Input\tms_modules.xlsx" />
    <add key="TransactionMapFilePath" value="..\..\Unit Parameters\Transaction Unit Mapping.xls" />
  </appSettings>
  <connectionStrings>
    <add name="FAASModel" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Asciano.PN.TMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>