@model UI.Web.Models.ViewModel.CustomerProfileViewModel
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <div>
        Hello, @User.Identity.GetUserName().
    </div>

        <div>
            You are registered to the following companies:
            @if (Model != null)
            {
            <ul>
                @foreach (var item in Model.CurrentUserCustomers)
                {
                    <li>
                        @Html.DisplayFor(x => item.Name)
                    </li>
                }
            </ul>
            }
        </div>
    
        <div>
            Want to add a new customer?
            @Html.ActionLink("Create a new customer now", "Create", "Customer")<br />
            Or register with existing companies (TO DO).
            @{ Html.RenderAction("CustomerListPartial", "Customer"); }
        </div>
    }
}
