@model UI.Web.Models.ViewModel.CustomerViewModel
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <div>
        Hello, @User.Identity.GetUserName().
    </div>

    <div>
        You are registered to the following customers:
        @if (Model != null)
        {
            Html.RenderAction("RegisteredCustomerListPartial", "Customer");
        }
    </div>

    <div>
        @Html.ActionLink("Create a new customer now", "Create", "Customer")<br />

        Or register with an existing customer: 
        @{Html.RenderAction("UnregisteredCustomerListPartial", "Customer");
}
    </div>
}

