@model UI.Web.Models.ViewModel.CustomerViewModel
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <div>
        Hello, @User.Identity.GetUserName().
    </div>

    <div>
        You are registered to the following companies:
        @if (Model != null)
        {
            Html.RenderAction("RegisteredCustomerListPartial", "Customer");

        }
    </div>

    <div>
        Want to add a new customer?
        @Html.ActionLink("Create a new customer now", "Create", "Customer")<br />

        Or register with existing companies: 
        @{Html.RenderAction("UnregisteredCustomerListPartial", "Customer");
}
        @*@Html.DropDownList("dropdownlist", new SelectList(Model.CurrentUserUnregisteredCustomers, "Name", "Name"))*@
    </div>





}

