@model UI.Web.Models.ViewModel.CustomerViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ProfileTest";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page will only be visible if you are logged in.</p>

@{Html.RenderAction("AccountCustomersPartial");}

<p>
    <ul>
@*@{Html.RenderAction("CustomerProjectsPartial");}*@
        <li>Select Existing Projects (from dropdown)</li>
    </ul>
</p>
<p>
    Once project is selected, user can:
    <ul>
        <li>Select snapshot (dropdown)</li>
        <li>Create new snapshot (probably by selecting phase to run)</li>
    </ul>

</p>

<script>
        $(document).ready(function(){
            $("#projectDetailSection").fadeOut(0);
            $("#snapshotDetailSection").fadeOut(0);
        });

        var selectedCustomerName;

        $("#sltCourse").change(function () {
            selectedCustomerName = $("#sltCustomer").val().trim();

            if (selectedCustomerName === "Select Customer") {
                $("#projectDetailSection").fadeOut();
                $("#snapshotDetailSection").fadeOut();
            }
            else {
                getProjectTable();
                getSnapshotTable();
                $("#projectDetailSection").fadeIn();
                $("#snapshotDetailSection").fadeIn();
            }
        });

        function getCustomersTable() {
            $.ajax({
                // Get Faculty PartialView
                url: "/Home/FacultiesToPVDemo",
                type: 'Get',
                data: { courseName: selectedCourseName },
                success: function (data) {
                    $("#facultyDetailTable").empty().append(data);
                },
                error: function () {
                    alert("something seems wrong");
                }
            });
        }

        function getProjectsTable() {
            $.ajax({
                // Get Student PartialView
                url: "/Home/StudentsToPVDemo",
                type: 'Get',
                data: { courseName: selectedCourseName },
                success: function (data) {
                    $("#studentDetailTable").empty().append(data);
                },
                error: function () {
                    alert("something seems wrong");
                }
            });
        }


</script>   
