@model UI.Web.Models.ViewModel.CustomerViewModel

@if (Model != null)
{
    if (Model.CustomerProjects != null)
    {
        <div>
            @using (Html.BeginForm("ProjectSnapshotsPartial", "Customer"))
            {
                @Html.DropDownList("projectId", new SelectList(Model.CustomerProjects, "Id", "Name"))
                <button type="submit">View Snapshots TODO</button>
            }
        </div>
    }
}