@model UI.Web.Models.ViewModel.CustomerViewModel

@using (Html.BeginForm("CustomerApplication", "Customer"))
{
    @Html.DropDownList("id", new SelectList(Model.CurrentUserUnregisteredCustomers, "Id", "Name"))
    <button type="submit">Apply</button>
}
