@model UI.Web.Models.CustomerViewModel
@{
    ViewBag.Title = "CreateCustomer";
}

<h2>CreateCustomer</h2>

@using (Html.BeginForm())
{

    <div>
        <h2>Type your name below</h2>
        <ul>
            <li>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                
            </li>
        </ul>
        <hr />
        <div class="buttonbar">
            <input type="submit" name="submitbutton" value="Cancel" id="cancel" class="cancel" />
            <input type="submit" name="submitbutton" value="Next" id="next" />
        </div>
    </div>
}